# Image files
images/
urls/

# Python helpers
__pycache__/
.ipynb_checkpoints/
.DS_Store

# General helpers
helpers.py
archive

# Virtual environment
dalle_print

# Web app in development
dalle_print_project

# Project files
selection.txt
*.zip